global
    log stdout format raw local0  # Use stdout for logging, helpful for Docker containers
    maxconn 4096
    user haproxy
    group haproxy

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 30s  # Increased timeout
    timeout client 1m
    timeout server 1m

frontend pgsql_frontend
    bind *:5433 ssl crt /etc/ssl/certs/postgres.pem
    default_backend pgsql_backend

backend pgsql_backend
    mode tcp
    balance roundrobin
    option tcp-check

    # PostgreSQL primary node
    server postgres_primary postgres_primary:5432 check inter 5s fall 3 rise 2 verify none
    # PostgreSQL standby node
    server postgres_standby postgres_standby:5432 check inter 5s backup fall 3 rise 2 verify none

listen stats
    bind *:8404
    mode http
    log global

    maxconn 10
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /haproxy?stats
    stats auth admin:password  # Change username:password
